body{
    background-color: black;    
}

/* .imagebox{
    align-items: center;
    text-align:center;
    
} */

.image{
    /* width: 300px;
    height: 245px; */
    display: block;
    height: auto;
    max-height:  100%;
    position: absolute; 
    left:50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -30px;      
    
    cursor: url(cursor.cur), pointer;  
}

/* .image:hover{
    transform: scale(0.875);
    transition: all 0.15s linear;
    
} */

.textbox{
    width: 200px;
    height: 50px;
    position: absolute; 
    left:50%;
    top: 10%; 
    margin-left: -285px;
    margin-top: 0px;  
    
}

#number{
    display: block;
    height: auto;
    max-height:  100%;
    color: white;    
    text-align:center;
    font-size: 50px;
    font-style: italic;
    background-color: black;  
    border-style: none;    
}

.imagebox{
    height:245;
    width: 300;
}